In [2]:
import pandas as pd

data = pd.read_csv("MFG10YearTerminationData.csv")

In [3]:
data

,EmployeeID,recorddate_key,birthdate_key,orighiredate_key,terminationdate_key,age,length_of_service,city_name,department_name,job_title,store_name,gender_short,gender_full,termreason_desc,termtype_desc,STATUS_YEAR,STATUS,BUSINESS_UNIT
0,1318,12/31/2006 0:00,1/3/1954,8/28/1989,1/1/1900,52,17,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2006,ACTIVE,HEADOFFICE
1,1318,12/31/2007 0:00,1/3/1954,8/28/1989,1/1/1900,53,18,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2007,ACTIVE,HEADOFFICE
2,1318,12/31/2008 0:00,1/3/1954,8/28/1989,1/1/1900,54,19,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2008,ACTIVE,HEADOFFICE
3,1318,12/31/2009 0:00,1/3/1954,8/28/1989,1/1/1900,55,20,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2009,ACTIVE,HEADOFFICE
4,1318,12/31/2010 0:00,1/3/1954,8/28/1989,1/1/1900,56,21,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2010,ACTIVE,HEADOFFICE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49648,8258,12/1/2015 0:00,5/28/1994,8/19/2013,12/30/2015,21,2,Valemount,Dairy,Dairy Person,34,M,Male,Layoff,Involuntary,2015,TERMINATED,STORES
49649,8264,8/1/2013 0:00,6/13/1994,8/27/2013,8/30/2013,19,0,Vancouver,Customer Service,Cashier,44,F,Female,Resignaton,Voluntary,2013,TERMINATED,STORES
49650,8279,12/1/2015 0:00,7/18/1994,9/15/2013,12/30/2015,21,2,White Rock,Customer Service,Cashier,39,F,Female,Layoff,Involuntary,2015,TERMINATED,STORES
49651,8296,12/1/2013 0:00,9/2/1994,10/9/2013,12/31/2013,19,0,Kelowna,Customer Service,Cashier,16,F,Female,Resignaton,Voluntary,2013,TERMINATED,STORES
49652,8321,12/1/2014 0:00,11/28/1994,11/24/2013,12/30/2014,20,1,Grand Forks,Customer Service,Cashier,13,F,Female,Layoff,Involuntary,2014,TERMINATED,STORES

# Â¿CuÃ¡nto es el tiempo promedio que duran las personas que se retiran de la empresa tanto voluntaria como involuntariamente?

In [4]:
promedio = round(data[data["STATUS"]=="TERMINATED"]["length_of_service"].mean())
print(f"El tiempo promedio que duran las personas son {promedio} aÃ±os.")

El tiempo promedio que duran las personas son 11 aÃ±os.

# Â¿CuÃ¡l es el departamento que tiene una rotaciÃ³n de personal mayor y cuÃ¡l es el departamento que tiene una rotaciÃ³n de personal menor, que hace la diferencia?

In [5]:
deps = data[data["STATUS"]=="TERMINATED"]["department_name"].unique()
for dep in deps:
    print(dep, data[data["department_name"]==dep]["length_of_service"].sum() // len(data[data["department_name"]==dep]))

Training 19
Store Management 19
Labor Relations 18
HR Technology 19
Employee Records 19
Meats 15
Compensation 18
Legal 19
Produce 12
Accounts Receiveable 19
Bakery 10
Information Technology 18
Accounts Payable 20
Audit 19
Accounting 20
Investment 19
Dairy 7
Recruitment 20
Processed Foods 6
Customer Service 6

Los departamentos con mÃ¡s rotaciÃ³n son Processed Foods y Customer service con 6 aÃ±os.
Los departamentos con menos rotaciÃ³n son Accounts Payable y Accounting con 20 aÃ±os.

# Â¿CuÃ¡l es la edad promedio de las personas que duran mÃ¡s en la empresa?

In [15]:
edad = round(data[(data["department_name"]=="Accounting") | (data["department_name"]=="Accounts Payable")]["age"].mean())
print(f"La edad promedio de las personas que duran mÃ¡s en la empresa es {edad} aÃ±os.")

La edad promedio de las personas que duran mÃ¡s en la empresa es 60 aÃ±os.

# Explique si el gÃ©nero de las personas tiene un impacto en la rotaciÃ³n de personal.

In [28]:
male_mean = round(data[(data["gender_short"]=="M") & (data["STATUS"]=="TERMINATED")]["length_of_service"].mean())
female_mean = round(data[(data["gender_short"]=="F") & (data["STATUS"]=="TERMINATED")]["length_of_service"].mean())

male_std = round(data[(data["gender_short"]=="M") & (data["STATUS"]=="TERMINATED")]["length_of_service"].std())
female_std = round(data[(data["gender_short"]=="F") & (data["STATUS"]=="TERMINATED")]["length_of_service"].std())

print(f"Promedio de duraciÃ³n de hombres: {male_mean} aÃ±os.")
print(f"Promedio de duraciÃ³n de mujeres: {female_mean} aÃ±os.")

print(f"DesviaciÃ³n estÃ¡ndar de duraciÃ³n de hombres: {male_std} aÃ±os.")
print(f"DesviaciÃ³n estÃ¡ndar de duraciÃ³n de mujeres: {female_std} aÃ±os.")

print("Las mujeres tienden a trabajar en promedio 2 aÃ±os mÃ¡s que los hombres antes de retirarse, pero la diferencia no es mucha para ser una fuerte consideraciÃ³n.")

Promedio de duraciÃ³n de hombres: 10 aÃ±os.
Promedio de duraciÃ³n de mujeres: 12 aÃ±os.
DesviaciÃ³n estÃ¡ndar de duraciÃ³n de hombres: 7 aÃ±os.
DesviaciÃ³n estÃ¡ndar de duraciÃ³n de mujeres: 7 aÃ±os.
Las mujeres tienden a trabajar en promedio 2 aÃ±os mÃ¡s que los hombres antes de retirarse, pero la diferencia no es mucha para ser una fuerte consideraciÃ³n.

# Identifique cuales son los 2 nombres de trabajo (```job_title```) que menos rotaciÃ³n tiene y cuales son los 2 con mayor rotaciÃ³n.

In [37]:
trabajos = data[data["STATUS"] == "TERMINATED"].groupby(["job_title"])
keys = trabajos.groups.keys()

In [44]:
for key in keys:
    length = round(trabajos.get_group(key)["length_of_service"].mean())
    print(key, length)

Accounting Clerk 25
Accounts Payable Clerk 22
Accounts Receiveable Clerk 22
Auditor 21
Baker 10
Bakery Manager 22
Benefits Admin 22
Cashier 3
Compensation Analyst 21
Corporate Lawyer 21
Customer Service Manager 23
Dairy Manager 24
Dairy Person 11
Director, Accounting 24
Director, Accounts Payable 24
Director, Accounts Receivable 24
Director, Audit 19
Director, Compensation 19
Director, Employee Records 24
Director, HR Technology 24
Director, Investments 19
Director, Labor Relations 19
Director, Training 19
HRIS Analyst 22
Investment Analyst 22
Labor Relations Analyst 21
Meat Cutter 14
Meats Manager 22
Processed Foods Manager 22
Produce Clerk 11
Produce Manager 22
Recruiter 23
Shelf Stocker 6
Store Manager 22
Systems Analyst 19
Trainer 22

Los dos trabajos con mayor rotaciÃ³n son Cashier (3) y Shelf Stocker (6).
Los trabajos con menor rotaciÃ³n son Account Clerk (25) y:
- Dairy Manager (24)
- Director, Accounting (24)
- Director, Accounts Payable (24)
- Director, Accounts Receivable (24)
- Director, Employee Records (24)
- Director, HR Technology (24)

# Â¿QuÃ© proporciÃ³n tienen personas retiradas?

In [49]:
proporcion = round(len(data[data["STATUS"] == "TERMINATED"]) / len(data[data["STATUS"] == "ACTIVE"]) * 100, 2)
print(f"Hay una proporciÃ³n de {proporcion}% de personas retiradas a activas (3 de cada 100)")

Hay una proporciÃ³n de 3.08% de personas retiradas a activas (3 de cada 100)

# De las personas retiradas, Â¿cuÃ¡l es el promedio de edad y de tiempo que duraron en la compaÃ±Ã­a?

In [51]:
edad = round(data[data["STATUS"] == "TERMINATED"]["age"].mean())
tiempo = round(data[data["STATUS"] == "TERMINATED"]["length_of_service"].mean())

print(f"Edad promedio: {edad} aÃ±os")
print(f"Tiempo promedio: {tiempo} aÃ±os")

Edad promedio: 51 aÃ±os
Tiempo promedio: 11 aÃ±os

In [55]:
prontas = len(data[(data["age"] > (edad - tiempo)) & (data["STATUS"] == "ACTIVE")])
print(f"Personas prontas a retirarse: {prontas}")

Personas prontas a retirarse: 25560

# Determine cuÃ¡l es la ciudad que se ha visto mÃ¡s afectada por la rotaciÃ³n de personal.

In [56]:
ciudades = data[data["STATUS"] == "TERMINATED"].groupby(["city_name"])
keys = ciudades.groups.keys()

In [57]:
for key in keys:
    length = round(ciudades.get_group(key)["length_of_service"].mean())
    print(key, length)

Abbotsford 10
Aldergrove 14
Bella Bella 8
Blue River 13
Burnaby 11
Chilliwack 8
Cortes Island 13
Cranbrook 13
Dawson Creek 13
Dease Lake 17
Fort Nelson 10
Fort St John 12
Grand Forks 10
Haney 11
Kamloops 11
Kelowna 11
Langley 9
Nanaimo 11
Nelson 10
New Westminister 9
New Westminster 11
North Vancouver 11
Ocean Falls 19
Pitt Meadows 11
Port Coquitlam 9
Prince George 9
Princeton 10
Quesnel 10
Richmond 10
Squamish 11
Surrey 10
Terrace 12
Trail 12
Valemount 9
Vancouver 13
Vernon 14
Victoria 12
West Vancouver 10
White Rock 13
Williams Lake 8

Las ciudades mÃ¡s afectadas por la rotaciÃ³n son:
- Chilliwack (8)
- Williams Lake (8)
- Bella Bella (8)